<div class="form-wrap center">
  <mat-dialog-actions [ngSwitch]="data.action">
    <h1 *ngSwitchCase="0">DETALLES</h1>
    <h1 *ngSwitchCase="1">CREAR CONFERENCIA</h1>
    <h1 *ngSwitchCase="2">ACTUALIZAR CONFERENCIA</h1>
    <h1 *ngSwitchCase="3">ELIMINAR CONFERENCIA</h1>
  </mat-dialog-actions>
  <br />
  <mat-form-field appearance="outline" class="input">
    <mat-label>Título</mat-label>
    <input
      matInput
      placeholder="Título"
      [(ngModel)]="data.conference.title"
      disabled="false"
    />
  </mat-form-field>
  <mat-form-field appearance="outline" class="input">
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      placeholder="Descripción"
      [(ngModel)]="data.conference.description"
      disabled="false"
    ></textarea>
  </mat-form-field>
  <h2>HORARIOS</h2>
  <div *ngFor="let schedule of data.conference.schedules; index as i">
    <mat-form-field appearance="outline" class="input">
      <mat-label>Expositor</mat-label>
      <input matInput [(ngModel)]="schedule.speaker" disabled="false" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="input">
      <mat-label>Lugar</mat-label>
      <input matInput [(ngModel)]="schedule.place" disabled="false" />
    </mat-form-field>
    <div class="schedule">
      <mat-form-field appearance="outline" class="input date">
        <mat-label>Fecha</mat-label>
        <input
          matInput
          [(ngModel)]="schedule.date"
          type="date"
          disabled="false"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input time">
        <mat-label>Inicio</mat-label>
        <input
          matInput
          [(ngModel)]="schedule.start"
          type="time"
          disabled="false"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input time">
        <mat-label>Fin</mat-label>
        <input
          matInput
          [(ngModel)]="schedule.end"
          type="time"
          disabled="false"
        />
      </mat-form-field>
    </div>
    <hr />
    <br />
  </div>

  <mat-dialog-actions [ngSwitch]="data.action">
    <button
      mat-raised-button
      color="primary"
      class="input"
      *ngSwitchCase="0"
      mat-dialog-close
    >
      CERRAR
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="addConference()"
      class="input"
      *ngSwitchCase="1"
    >
      GUARDAR
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="updateConference()"
      class="input"
      *ngSwitchCase="2"
    >
      GUARDAR
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="deleteConference()"
      class="input"
      *ngSwitchCase="3"
    >
      ELIMINAR
    </button>
  </mat-dialog-actions>
</div>
